data/
assignment5/
*/__pycache__/
*/checkpoints
*/logs
*/output
__MACOSX/
proj5.zip
haejoonl_code_proj5.zip
checkpoints/cls/best_model_pointnet2.pt
checkpoints/cls/best_model.pt
checkpoints/cls/model_epoch_0_pointnet2.pt
checkpoints/cls/model_epoch_0.pt
checkpoints/cls/model_epoch_10_pointnet2.pt
checkpoints/cls/model_epoch_10.pt
checkpoints/cls/model_epoch_20_pointnet2.pt
checkpoints/cls/model_epoch_20.pt
checkpoints/cls/model_epoch_30_pointnet2.pt
checkpoints/cls/model_epoch_30.pt
checkpoints/cls/model_epoch_40_pointnet2.pt
checkpoints/cls/model_epoch_40.pt
checkpoints/cls/model_epoch_50_pointnet2.pt
checkpoints/cls/model_epoch_50.pt
checkpoints/cls/model_epoch_60_pointnet2.pt
checkpoints/cls/model_epoch_60.pt
checkpoints/cls/model_epoch_70_pointnet2.pt
checkpoints/cls/model_epoch_70.pt
checkpoints/cls/model_epoch_80_pointnet2.pt
checkpoints/cls/model_epoch_80.pt
checkpoints/cls/model_epoch_90_pointnet2.pt
checkpoints/cls/model_epoch_90.pt
checkpoints/cls/model_epoch_100_pointnet2.pt
checkpoints/cls/model_epoch_100.pt
checkpoints/cls/model_epoch_110_pointnet2.pt
checkpoints/cls/model_epoch_110.pt
checkpoints/cls/model_epoch_120_pointnet2.pt
checkpoints/cls/model_epoch_120.pt
checkpoints/cls/model_epoch_130_pointnet2.pt
checkpoints/cls/model_epoch_130.pt
checkpoints/cls/model_epoch_140_pointnet2.pt
checkpoints/cls/model_epoch_140.pt
checkpoints/cls/model_epoch_150_pointnet2.pt
checkpoints/cls/model_epoch_150.pt
checkpoints/cls/model_epoch_160_pointnet2.pt
checkpoints/cls/model_epoch_160.pt
checkpoints/cls/model_epoch_170_pointnet2.pt
checkpoints/cls/model_epoch_170.pt
checkpoints/cls/model_epoch_180_pointnet2.pt
checkpoints/cls/model_epoch_180.pt
checkpoints/cls/model_epoch_190_pointnet2.pt
checkpoints/cls/model_epoch_190.pt
checkpoints/cls/model_epoch_200_pointnet2.pt
checkpoints/cls/model_epoch_200.pt
checkpoints/cls/model_epoch_210_pointnet2.pt
checkpoints/cls/model_epoch_210.pt
checkpoints/cls/model_epoch_220_pointnet2.pt
checkpoints/cls/model_epoch_220.pt
checkpoints/cls/model_epoch_230_pointnet2.pt
checkpoints/cls/model_epoch_230.pt
checkpoints/cls/model_epoch_240_pointnet2.pt
checkpoints/cls/model_epoch_240.pt
checkpoints/seg/best_model_pointnet2.pt
checkpoints/seg/best_model.pt
checkpoints/seg/model_epoch_0_pointnet2.pt
checkpoints/seg/model_epoch_0.pt
checkpoints/seg/model_epoch_10_pointnet2.pt
checkpoints/seg/model_epoch_10.pt
checkpoints/seg/model_epoch_20_pointnet2.pt
checkpoints/seg/model_epoch_20.pt
checkpoints/seg/model_epoch_30_pointnet2.pt
checkpoints/seg/model_epoch_30.pt
checkpoints/seg/model_epoch_40_pointnet2.pt
checkpoints/seg/model_epoch_40.pt
checkpoints/seg/model_epoch_50_pointnet2.pt
checkpoints/seg/model_epoch_50.pt
checkpoints/seg/model_epoch_60_pointnet2.pt
checkpoints/seg/model_epoch_60.pt
checkpoints/seg/model_epoch_70_pointnet2.pt
checkpoints/seg/model_epoch_70.pt
checkpoints/seg/model_epoch_80_pointnet2.pt
checkpoints/seg/model_epoch_80.pt
checkpoints/seg/model_epoch_90_pointnet2.pt
checkpoints/seg/model_epoch_90.pt
checkpoints/seg/model_epoch_100_pointnet2.pt
checkpoints/seg/model_epoch_100.pt
checkpoints/seg/model_epoch_110_pointnet2.pt
checkpoints/seg/model_epoch_110.pt
checkpoints/seg/model_epoch_120_pointnet2.pt
checkpoints/seg/model_epoch_120.pt
checkpoints/seg/model_epoch_130_pointnet2.pt
checkpoints/seg/model_epoch_130.pt
checkpoints/seg/model_epoch_140_pointnet2.pt
checkpoints/seg/model_epoch_140.pt
checkpoints/seg/model_epoch_150_pointnet2.pt
checkpoints/seg/model_epoch_150.pt
checkpoints/seg/model_epoch_160_pointnet2.pt
checkpoints/seg/model_epoch_160.pt
checkpoints/seg/model_epoch_170_pointnet2.pt
checkpoints/seg/model_epoch_170.pt
checkpoints/seg/model_epoch_180_pointnet2.pt
checkpoints/seg/model_epoch_180.pt
checkpoints/seg/model_epoch_190_pointnet2.pt
checkpoints/seg/model_epoch_190.pt
checkpoints/seg/model_epoch_200_pointnet2.pt
checkpoints/seg/model_epoch_200.pt
checkpoints/seg/model_epoch_210_pointnet2.pt
checkpoints/seg/model_epoch_210.pt
checkpoints/seg/model_epoch_220_pointnet2.pt
checkpoints/seg/model_epoch_220.pt
checkpoints/seg/model_epoch_230_pointnet2.pt
checkpoints/seg/model_epoch_230.pt
checkpoints/seg/model_epoch_240_pointnet2.pt
checkpoints/seg/model_epoch_240.pt
logs/cls_exp/events.out.tfevents.1763348926.node-gpu02.3498465.0
logs/cls_pointnet2_pointnet2_cls/events.out.tfevents.1763655168.node-gpu02.3665588.0
logs/cls_pointnet2_pointnet2_cls/events.out.tfevents.1763655261.node-gpu02.3670438.0
logs/cls_pointnet2_pointnet2_cls/events.out.tfevents.1763655447.node-gpu02.3684168.0
logs/cls_pointnet2_pointnet2_cls/events.out.tfevents.1763655517.node-gpu02.3687923.0
logs/cls_pointnet2_pointnet2_cls/events.out.tfevents.1763663434.node-gpu02.4100944.0
logs/seg_exp/events.out.tfevents.1763353835.node-gpu02.3796029.0
logs/seg_pointnet2_pointnet2_seg/events.out.tfevents.1763655748.node-gpu02.3699244.0
logs/seg_pointnet2_pointnet2_seg/events.out.tfevents.1763656116.node-gpu02.3721220.0
logs/seg_pointnet2_pointnet2_seg/events.out.tfevents.1763656127.node-gpu02.3721578.0
logs/seg_pointnet2_pointnet2_seg/events.out.tfevents.1763656135.node-gpu02.3721736.0
logs/seg_pointnet2_pointnet2_seg/events.out.tfevents.1763656350.node-gpu02.3732807.0
logs/seg_pointnet2_pointnet2_seg/events.out.tfevents.1763656367.node-gpu02.3733064.0
logs/seg_pointnet2_pointnet2_seg/events.out.tfevents.1763656377.node-gpu02.3733497.0
logs/seg_pointnet2_pointnet2_seg/events.out.tfevents.1763665797.node-gpu01.1713898.0
output/comparison_cls.csv
output/comparison_seg.csv
output/num_points_results_cls.csv
output/num_points_results_seg.csv
output/rotation_results_cls.csv
output/rotation_results_seg.csv
output/comparison_seg/gt_obj1.gif
output/comparison_seg/gt_obj3.gif
output/comparison_seg/gt_obj4.gif
output/comparison_seg/pointnet_pred_obj1.gif
output/comparison_seg/pointnet_pred_obj3.gif
output/comparison_seg/pointnet_pred_obj4.gif
output/comparison_seg/pointnet2_pred_obj1.gif
output/comparison_seg/pointnet2_pred_obj3.gif
output/comparison_seg/pointnet2_pred_obj4.gif
output/num_points_viz/gt_10000pts.gif
output/num_points_viz/pred_500pts.gif
output/num_points_viz/pred_1000pts.gif
output/num_points_viz/pred_2000pts.gif
output/num_points_viz/pred_5000pts.gif
output/num_points_viz/pred_10000pts.gif
output/rotation_viz/gt_angle_0.gif
output/rotation_viz/pred_angle_0.gif
output/rotation_viz/pred_angle_30.gif
output/rotation_viz/pred_angle_60.gif
output/rotation_viz/pred_angle_90.gif
output/rotation_viz/pred_angle_180.gif
output/seg_eval/gt_seg_eval.gif
output/seg_eval/gt_seg_obj1.gif
output/seg_eval/gt_seg_obj2.gif
output/seg_eval/gt_seg_obj3.gif
output/seg_eval/gt_seg_obj4.gif
output/seg_eval/gt_seg_obj5.gif
output/seg_eval/pred_seg_eval.gif
output/seg_eval/pred_seg_obj1.gif
output/seg_eval/pred_seg_obj2.gif
output/seg_eval/pred_seg_obj3.gif
output/seg_eval/pred_seg_obj4.gif
output/seg_eval/pred_seg_obj5.gif
__pycache__/data_loader.cpython-38.pyc
__pycache__/models.cpython-38.pyc
__pycache__/utils.cpython-38.pyc
